@import "../vendor/Railroad/stylesheet";

$font-sans-title: "Raleway", "Inter", sans-serif;
$font-sans-text: "Inter", sans-serif;

$color-input-hovered: #ebebeb;
$color-input-incorrect: #fcc3c3;

$color-button-background: #f5f5f5;
$color-button-hovered: #ffffff;
$color-button-disabled: #f5f5f5;

$color-title-background: #ffffff;
$color-caption-background: #e0dede;
$color-row-selected: #ebebeb;
$color-row-hovered: #ebebeb;

$color-font-caption: #636161;
$color-font-text: #000000;

$color-table-border: #f5f5f5;
$color-input-border: #8a8a8a;

@mixin hovered {
  cursor: pointer;
  transform: 0.5s;
  opacity: 0.7;
}

@mixin captiontd {
  color: $color-font-caption;
  font-weight: bold;
  font-size: 18px;
  font-family: $font-sans-title;
  line-height: 2.2;
}

@mixin title {
  color: $color-font-text;
  font-weight: bold;
  font-size: 22px;
  font-family: $font-sans-title;
  line-height: 2;
}

@mixin text {
  color: $color-font-text;
  font-weight: normal;
  font-size: 18px;
  font-family: $font-sans-text;
  line-height: 2.2;
}

@mixin button {
  color: $color-font-text;
  font-weight: normal;
  font-size: 20px;
  font-family: $font-sans-title;
}
