@import "../../styles/variables";

.row {
  &__input {
    @include text;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    text-align: center;
    border: none;

    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }

    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    &:hover {
      padding: 0;
      background-color: $color-input-hovered;
      border-radius: 4px;
      transform: 0.5s;
      opacity: 0.5;
    }

    &:focus-visible {
      padding: 0;
      background-color: $color-input-hovered;
      border: 1px solid $color-input-border;
    }
  }

  &__input_incorrect {
    @include text;
    box-sizing: border-box;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    text-align: center;
    background-color: $color-input-incorrect;
    border: none;

    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }

    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    &:hover {
      padding: 0;
      background-color: $color-input-hovered;
      border-radius: 4px;
      transform: 0.5s;
      opacity: 0.5;
    }

    &:focus-visible {
      padding: 0;
      background-color: $color-input-hovered;
      border: 1px solid $color-input-border;
    }
  }

  &__tr {
    @include text;
    min-width: 160px;
    height: 48px;
    border-collapse: collapse;
  }

  &__td {
    box-sizing: border-box;
    min-width: 200px;
    text-align: center;
    border-bottom: 1px solid $color-table-border;
  }
}
