@import url("../../../styles/variables");

.button {
  @include button;
  align-self: center;
  min-width: 240px;
  height: 48px;
  background-color: $color-button-background;
  border-radius: 4px;

  &:hover {
    @include hovered;
    background-color: $color-button-hovered;
    border-radius: 4px;
  }
}

.button__disabled {
  @include button;
  align-self: center;
  min-width: 240px;
  height: 48px;
  color: $color-font-caption;
  background-color: $color-button-disabled;
  border-radius: 4px;
}
