@import "../../styles/variables";

.train {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  min-width: 200px;
  border: none;
  border-radius: 4px;

  &__title {
    @include title;
    padding-top: 20px;
    padding-left: 40px;
    text-align: left;
    background-color: $color-title-background;
  }

  &__tr {
    min-width: 160px;
    height: 40px;
    border-collapse: collapse;
  }

  &__caption {
    min-width: 160px;
    height: 48px;
    color: $color-font-caption;
    line-height: 2;
    text-align: center;
    background-color: $color-caption-background;
    border: none;
    border-radius: 4px;

    & td {
      min-width: 200px;
      height: 48px;
      padding-left: 10px;
      text-align: center;
      -webkit-border-vertical-spacing: 0;
    }

    & tr {
      background-color: $color-caption-background;
      border: none;
      -webkit-border-vertical-spacing: 0;
    }
  }

  &__table {
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
    background-color: $color-title-background;
    border: none;
    border-radius: 4px;
    -webkit-border-vertical-spacing: 0;

    tbody tr:nth-last-child(1) td {
      border: none;
    }
  }

  &__captiontd {
    @include captiontd;
    min-width: 200px;
    padding-left: 10px;
    border-bottom: 1px solid $color-table-border;

    &:nth-child(-n + 3) {
      border-bottom: none;
    }

    &:nth-last-child(-n + 3) {
      border-bottom: none;
    }
  }
}
